<!DOCTYPE html>
<html>
<head>
  <title>StukPlaces</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Material Design fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsLyMC_Z9VueHCzCdvKKZM6yfSM-s-VP8&callback=initMap">
  </script>

</head>
<body>

<%=	 render 'layouts/header' %>

<% flash.each do |type, message|  %>
    <div class="alert alert-info fade-in">
      <button class="close" data-dismiss="alert">x</button>
      <%= message %>
    </div>
<% end %>


  <%= yield %>








<script>$(".button-collapse").sideNav();</script>
</body>
</html>
